@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-size: 40px;">
        Welcome To KhumaloCraft
    </h1>
    <p style="text-align: center;border-top: 5;">
        We are a team of passionate artisans dedicated to creating unique and beautiful handmade crafts. <br>
        Our mission is to provide our customers with high-quality, one-of-a-kind pieces that celebrate the rich cultural heritage of our region. <br>
        Whether you're looking for stunning home decor, meaningful gifts, or custom-made items, you'll find it all here at KhumaloCraft. <br>
        Explore our collection and discover the perfect piece to add a touch of artistry to your life.
    </p>
 <img src="https://www.africancraftsmarket.com/images/African-Crafts-Market-interior-design-tn.jpg"/>
</div>