@page
@model PrivacyModel
@{
    ViewData["Title"] = "Khumalo Craft";
}
<h1 style="text-align: center;">@ViewData["Title"]</h1>
<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>

<p>
    Welcome to the My Work page, where you can explore a showcase of our latest creations and featured projects. From intricately woven baskets to hand-painted ceramics, each piece in our collection is a testament to the skill and artistry of our talented artisans. Whether you're interested in traditional textiles, contemporary sculptures, or functional home goods, you'll find a diverse array of handmade treasures to admire and inspire. Browse our gallery below to discover the beauty and craftsmanship of KhumaloCraft.
</p>
<br/>
<div class="card">
  <img src="https://www.africancraftsmarket.com/images/Abstract-stone-holding-mother.jpg" style="width: 100%;" alt="">
  <h1>Abstract Stone</h1>
  <p class="price">R 200</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="https://www.africancraftsmarket.com/images/Springbok-skull.jpg" alt="">
  <h1>Springbok Skull</h1>
  <p class="price">R 350</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="https://www.africancraftsmarket.com/images/African-wooden-salad-bowl-2.jpg" alt="">
  <h1>Wooden Bowl</h1>
  <p class="price">R 75</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="https://www.africancraftsmarket.com/images/African-hand-carved-Djembe-drum.jpg" alt="">
  <h1>Drum</h1>
  <p class="price">R 375</p>
  <p><button>Add to Cart</button></p>
</div>


